@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');
@plugin "daisyui";

:root {
  --background: #ffffff; /* Light mode background */
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #171717; /* Dark mode background */
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
}

/* Custom styles */
.btn:hover {
  cursor: pointer;
}

.btn-sign-up-sign-in {
  background-color: #4B0000; /* Dark maroon background color */
  color: #ffffff; /* Text color */
  border: 1px solid #4B0000; /* Border color */
  padding: 10px 20px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}

.btn-jtown {
  style: "inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50";
  background-color: #6d1515; /* Maroon background color */
  color: #ffffff; /* Text color */
  border: 1px solid #6d1515; /* Border color */
  padding: 10px 20px; /* Padding */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}

.jtown-datepicker {
  background-color: #4B0000; /* Maroon background color */
  color: #ffffff; /* Text color */
  border: 1px solid #4B0000; /* Border color */
  padding: 10px 20px; /* Padding */
  border-radius: 5px; /* Rounded corners */
}

.h1-bold-custom {
  font-family: 'Sharp', FontAwesome, ui-serif;
  font-size: 3.5rem; /* Adjust size as needed */
  font-variant-east-asian: normal;
}

.p-regular-20, .p-regular-24 {
  font-family: 'Sharp', FontAwesome, ui-serif;
}

.form-item {
  margin-bottom: 1rem; /* Adjust the value as needed */
}



/* Tailwind styles */
@layer utilities {
  .wrapper {
    @apply max-w-7xl lg:mx-auto p-5 md:px-10 xl:px-0 w-full;
  }
}